#!/usr/bin/env bash

if [[ "$HOSTNAME" == *"bench"* ]]; then
    export PATH=~/yk/bin:${PATH}
else
    export PATH=/home/pd/git-repos/research/demo/yk-fork/bin:${PATH}
fi

export YK_BUILD_TYPE=debug
export YKB_TRACER=swt
